style
  include ./sidebar.css

include ../card/card

#app.vue-component
  +article(
    'Título en el sidebar',
    'Autor el sidebar',
    'link-del-sidebar',
    'Descripción del sidebar'
  )

script
  include ./sidebar.js
