extends ../../layouts/platform/main

block head
  link(rel="stylesheet", href='/views/employee/symptomatology/symptomatology.css')
  link(rel="stylesheet", href='/views/employee/symptomatology/loader.css')
  script(src="https://unpkg.com/vue@next")

block content
  section(id="symptomatology" data-symptomatology=symptomatology)
    .loader-section(:style="{'display': display}")
      .loader-section__animation
        span
        span
        span
    .body-profile
      .title-component
        .title-component__title Ficha de sintomatología
        .title-component__line
      .row.body-component
        form.col-md-10(method="POST" onsubmit="return checkSubmit();")
          .row.justify-content-center.mb-3
            .col-md-6
              .row.p-3
                label.mb-2.custom-label(for='company') Empresa:
                select.mb-2.custom-select#company(v-model="company" name="company" :disabled="companies.length===0" required)
                  option(value="" disabled) -- Elegir --
                  option(v-for="( company, index ) in companies" :value="company._id") {{ company.name }}
            .col-md-6
              .row.p-3
                label.mb-2.custom-label(for='ruc') RUC:
                input#ruc.mb-2.form-control(type='text', placeholder='' name="ruc" required readOnly v-model="ruc")
            .col-md-6
              .row.p-3
                label.mb-2.custom-label(for='fullName') Apellidos y nombres:
                input#fullName.mb-2.form-control(type='text', placeholder='' name="fullName" required)
            .col-md-6
              .row.p-3
                label.mb-2.custom-label(for='dni') DNI:
                input#dni.mb-2.form-control(type='text', placeholder='' name="dni" oninput="this.value=this.value.replace(/[^0-9]/g,'');" minlength="8" maxLength="8" required)
            .col-md-6
              .row.p-3
                label.mb-2.custom-label(for='position') Puesto de trabajo:
                input#position.mb-2.form-control(type='text', placeholder='' name="position" required)
            .col-md-6
              .row.p-3
                label.mb-2.custom-label(for='numberPhone') Número de teléfono:
                input#numberPhone.mb-2.form-control(type='text', placeholder='' name="numberPhone" required)
            .col-md-10
              .row.p-3
                label.mb-2.custom-label(for='address') Dirección:
                input#address.mb-2.form-control(type='text', placeholder='' name="address" required)
          .row.justify-content-center.my-3
            .col-md-12.my-5
              span(style="color: #5e5873;") En los últimos 14 días calendario ha tenido alguno de los sintomas siguientes:
            .col-md-8
              .row.p-3
                label.mb-2.custom-label(for='fever') 1. Sensación de alza térmica o fiebre
                select#fever.custom-select(name='fever' required)
                  option(value='') -- Elegir --
                  option(value='0') No
                  option(value='1') Si
            .col-md-8
              .row.p-3
                label.mb-2.custom-label(for='cough') 2. Tos, estornudos o dificultad para respirar
                select#cough.custom-select(name='cough' required)
                  option(value='') -- Elegir --
                  option(value='0') No
                  option(value='1') Si
            .col-md-8
              .row.p-3
                label.mb-2.custom-label(for='expectoration') 3. Expectoración o flema amarilla o verdosa
                select#expectoration.custom-select(name='expectoration' required)
                  option(value='') -- Elegir --
                  option(value='0') No
                  option(value='1') Si
            .col-md-8
              .row.p-3
                label.mb-2.custom-label(for='contactCovid') 4. Contacto con persona(s) con un caso confirmado de COVID-19 
                select#contactCovid.custom-select(name='contactCovid' required)
                  option(value='') -- Elegir --
                  option(value='0') No
                  option(value='1') Si
            .col-md-8
              .row.p-3
                label.mb-2.custom-label(for='isMedicated') 5. Esta tomando alguna medicación (detallar cuál o cuales)
                select#isMedicated.custom-select(name='isMedicated' required)
                  option(value='') -- Elegir --
                  option(value='0') No
                  option(value='1') Si
            .col-md-8
              .row.p-3
                label.mb-2.custom-label(for='observation') 6. Comentarios adicionales
                textarea#observation.mb-2.form-control.form-control__text-area(name='observation' rows='5' maxlength="300")
            .col-md-12.my-4.d-flex
              input#affidavit.m-3(type='checkbox', name="affidavit" required)
              label.mb-2.custom-label(for='affidavit') Declaro que he recibido explicación del objetivo de esta evaluación y que todos los datos expresados en esta ficha constituyen declaración jurada de mi parte. He sido informado que de omitir o falsear información puedo perjudicar la salud de mis compañeros, y la mía propia, lo cual, de constituir una falta grave a la salud pública, asumo sus consecuencias.
          .buttons-component.my-3
            button.custom-button.buttons-component__button(type='submit') Guardar cambios

block append scripts
  script(src='/views/employee/symptomatology/symptomatology.vue.js' defer)