extends ../../layouts/landing/landing

block head
  link(rel="stylesheet", href='/views/employee/symptomatology/symptomatology.css')

block content
  div
    | Proximamente Ficha de Sintomatología

block append scripts
  //- script(src='/views/home/home/home.js' defer)