doctype html
html
  head
    meta( charset='utf-8' )
    meta( http-equiv='X-UA-Compatible', content='IE=edge' )
    meta( name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' )
    block meta

    title #{title || 'Framework'} 

    link( rel='shorcut icon', href='#' )
    link( rel='stylesheet', href='/public/css/normalize.min.css' )
    link( rel='stylesheet', href='/public/css/globals.css' )
    link( rel='stylesheet', href='/views/layouts/platform/main.css' )

    block head

    block scripts
  body.layout-platform
    include ../../components/flash/flash
    include ../../components/header/header
    .header
      +header()
        a(href='/salir') Salir
    .content
      block content
    .footer
      include ../../components/footer/footer
