@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

/* ====================
	* GLOBAL *
==================== */
*,
*::after,
*::before {
  box-sizing: border-box;
}

/* ====================
	* VARIABLES *
==================== */
:root {
  --font: 'Roboto', sans-serif;
  --background: #f2f2f2;
  --width-container: 1200px;
  --rounded: 10px;

  --first-color: #00acda;
  --second-color: #5f5f5f;
  --input-color: #80868b;
  --border-color: #d6d6d6;

  --normal-font-size: 1rem;
  --small-font-size: 0.75rem;
}

/* ====================
	* ESTILOS GENERALES *
==================== */
body {
  background: var(--background);
  font-family: var(--font);
  font-size: 18px;
  height: 100vh;
}

p {
  line-height: 27px;
  margin: 0;
}
section {
  padding: 20px 0;
}

/* ====================
	* FONTS *
==================== */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

/* ----------------GLOBALS STYLES --------------------------------- */

/* CURSOR POINTER */
.cursor-pointer {
  cursor: pointer;
}

/* BODY PROFILE */
.body-profile {
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 10px;
}
  .body-profile__details {
    padding: 20px 36px;
    background-color: #ffffff;
    border-radius: 10px;
  }

/* TITLE COMPONENT */
.title-component {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
  .title-component__title {
    font-weight: 600;
    font-size: 24px;
    color: #3e3e3e;
  }
  .title-component__line {
    width: 100px;
    height: 6px;
    background: #00acda;
    border-radius: 20px;
    margin-top: 5px;
  }

/* BODY COMPONENT*/
.body-component {
  margin: 32px 0;
  justify-content: center;
}

/* BUTTONS COMPONENT*/
.buttons-component {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
  .buttons-component__button {
    margin: 8px;
  }

/* ----- FORM STYLES ----- */
.form-group {
  margin-bottom: 15px; 
}

.custom-select {
  padding: 0.438rem 2rem 0.438rem 1rem;
  background: #fff url('/public/images/select.svg') right 1rem center/10px 10px no-repeat;
}
  .custom-select {
    border: 1px solid #d8d6de;
    border-radius: 0.357rem;
  }
  .custom-select {
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
  }
  .custom-select {
    display: inline-block;
    margin: 0;
    width: 100%;
    height: 2.714rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.45;
    color: #6e6b7b;
    outline: none;
    vertical-align: middle;
  }

.custom-label {
  color: #5e5873;
  font-size: 1rem;
}

.form-control {
  padding: 0.438rem 1rem;
  margin: 0;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #d8d6de;
  border-radius: 0.357rem;
  outline: none;
}
  .form-control {
    display: block;
    width: 100%;
    height: 2.714rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.45;
    color: #6e6b7b;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  .form-control__text-area {
    height: 100px;
  }

/* CUSTOM BUTTON*/
.custom-button {
  background: var(--first-color);
  border: none;
  cursor: pointer;
  color: #fff;
  display: inline-block;
  padding: 10px 15px;
  border-radius: 5px;
  text-align: center;
  line-height: 22px;
  transition: 0.3s ease all;
  font-size: var(--normal-font-size);
  text-decoration: none;
}
  .custom-button:hover {
    background: #116be0;
  }
  .custom-button--return {
    background: var(--second-color);
  }
  .custom-button--return:hover {
    background: #2c2c2c;
  }

/* ----- TABLE STYLES ----- */

/* table-section BLOCK */
.table-section {
  display:flex;
  flex-direction: column;
}

/* table-table-section-BLOCK */
.table-table-section {
  overflow-x:auto;
  grid-auto-flow: column;
  grid-auto-columns: minmax(160px,1fr);
  grid-gap: 16px;
  display: grid;
}
  .table-table-section__table {
    border-collapse: collapse;
    margin: 25px 0;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    font-family: 'Exo', sans-serif;
    text-align: center;
  }
  .table-table-section__table thead tr {
    background-color: #00acda;
    color: #ffffff;
    text-align: center;
    font-weight: 500;
  }
  .table-table-section__table th,
  .table-table-section__table td {
      padding: 16px 10px;
      font-size: 16px;
  }
  .table-table-section__table tbody {
    border-right: 2px solid #e4e4e4;
    border-left: 2px solid #e4e4e4;
  }
  .table-table-section__table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  .table-table-section__table tbody tr:nth-child(even) {
    color: #424242;
  }
  .table-table-section__table tbody tr:nth-child(odd) {
    color: #424242;
  }
  .table-table-section__table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  .table-table-section__table tbody tr:nth-of-type(odd) {
    background-color: #ffffff;
  }
  .table-table-section__table tbody tr:last-of-type {
    border-bottom: 2px solid #00acda;
  }
  .table-table-section__image-img {
    object-fit: contain;
  }
  .table-table-section__text-capitalize {
    text-transform: capitalize;
  }

  @media screen and (max-width: 750px) {
    .table-table-section__table thead {
        display: none;
      }
    .table-table-section__table td {
        display: block;
      }
    
    .table-table-section__table  td {
      border: none;
      border-bottom: 1px solid #eee;
      border-bottom: 1px solid #eee;
      position: relative;
      padding-left: 55%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      min-height: 80px;
      overflow-wrap: break-word;
      font-size: 14px;
    }

    .table-table-section__table--options {
      display: block !important;
      padding-left: 16px !important;
      justify-content: center !important;
    }


    .table-table-section__table td:before {
      position: absolute;
      left: 6px;
      width: 45%;
      margin: auto;
      color: #00acda;
      font-weight: 500;
    }
  }

  /* table-pagination-section BLOCK*/
.table-pagination-section {
  position: relative;
  text-align: center;
  margin: 36px 0;
  font-family: 'Exo', sans-serif;
  align-self: center;
}

/* table-pagination BLOCK*/
.table-pagination {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
  .table-pagination > li > a{
    border: none;
    border-radius: 30px !important;
    color: white;
    background-color: #00acda;
    margin: 4px;
    position: relative; 
    display: block;
    padding: 0.75rem 1.15rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    min-width: 42px;
  }
  .table-pagination > li > a:hover{
    background-color: #3e3e3e;
  }
  .table-pagination .active > a,
  .table-pagination .active > a:hover,
  .table-pagination .active > a:focus,
  .table-pagination .active > span:hover,
  .table-pagination .active > span:focus {
    background-color: #3e3e3e;
  }
  .table-pagination .table-pagination__page {
    background-color: #ff99004d;
  }
  .table-pagination .table-pagination__page--firt {
    margin-right: 16px;
  }
  .table-pagination .table-pagination__page--last {
    margin-left: 16px;
  }


  /* ----------- DROPDOWN BUTTON -------------- */

  .dropbtn {
    border: 1px solid gray;
    border-radius: 4px;
    padding: 10px 30px 10px 20px;
    background-color: #ffffff;
    cursor: pointer;
    white-space: nowrap;
  }

  .dropbtn:after {
    content: '';
    position: relative;
    top: 14px;
    right: -15px;
    transform: translateY(-50%);
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
  }
  
  .dropbtn:hover {
    background-color: #eeeeee;
  }

  .dropdown {
    position: initial;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    /* right: 5%;*/
    overflow: auto;
    z-index: 1;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0;
    margin: 2px 0 0 0;
    box-shadow: 0 0 6px 0 rgb(0 0 0 / 10%);
    background-color: #ffffff;
    list-style-type: none;
  }

  @media screen and (max-width: 750px) {
    .dropbtn:after {
      top: 10px;
    }

    .dropdown-content {
      position: relative;
      right: 0%;
    }
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}