extends ../../layouts/platform/main

block head
  link( rel='stylesheet', href='/views/admin/panel/example.css' )
  // link( rel='stylesheet', href='/views/components/card/card.css' )

block content
  include ../../components/card/card
  include ../../components/modal/modal

  p vista del administrador

  #app
    +article-container()
      .cards-content(v-for='( client, index ) in clients' :key='client.email')
        +article()(
          :title=`client.email`,
          :autor=`client.type`,
          :link=`'link-vue'`,
          :description=`'Hola mundo'`
        )
          +modal()(:index='index', :autor='client.type')

      each i in [ 2,3 ]
        .cards-content 
          +article(
            `titulo del card`,
            `autor del card`,
            `enlace-link-del-card`,
            `descripción del card`
          )()
          +modal(i, 'autor del card')

  .cards-content 
    +article(
      `titulo del card fuerda del vue`,
      `autor del card`,
      `enlace-link-del-card`,
      `descripción del card`
    )()

block scripts
  script(src="https://unpkg.com/vue@next")
  script(defer src="/views/admin/panel/example.vue.js")
