if message
  style
    include ./flash.css

  #alert.alert.alert--hide(class=message.type)
    span.alert__msg #{ message.text || 'Mensaje por defecto' }
    .alert__close-btn
      i.fas.fa-times

  script
    include ./flash.js
