style
  include ./captcha.css

mixin captcha()
  .wrapper
    .captcha-area
      .captcha-img
        img(src='/public/images/captcha-bg.png', alt='Captch Background')
        span.captcha
      button.reload-btn 🤓
    .input-area
      input.input-captcha(type='text', placeholder='Enter captcha', maxlength='6', spellcheck='false', required='')
      button.check-btn Check
    .status-text

script
  include ./captcha.js
