extends ../../../layouts/platform/main

block head
  link( rel='stylesheet', href='/views/users-module/admin/users-list/users-list.css' )
  link( rel='stylesheet', href='/public/css/loader.css' )
  script(src="https://unpkg.com/vue@next")

block content

  section.table-section(id="table" data-companies=companies)
    //- .loader-section(:style="{'display': display}")
      .loader-section__animation
        span
        span
        span
    .body-profile
      .title-component
        .title-component__title Lista de empresas
        .title-component__line
      
      .table-table-section.my-3(v-if="displayedData.length>0")
        table.table-table-section__table
          thead
            tr
              td(scope="col") Razón Social
              td(scope="col") RUC
              td(scope="col") Opciones
          tbody
            tr(v-for="(data, index) in displayedData" :key="data._id")
              td(scope="col") {{data.name}}
              td(scope="col") {{data.ruc}}
              td.table-table-section__table--options(scope="col")
                .dropdown
                  button.dropbtn(@click='dropdownButton(index)') Opciones
                  .dropdown-content(:id=`'myDropdown-'+index`)
                    a(:href=`'#'`) Ver usuarios
                    a(:href=`'#'`) Registrar usuario
                    a(:href=`'#'`) Editar
                    a(:href=`'#'`) Eliminar
                    //- a(href='#') Eliminar

      .table-pagination-section(v-else)
        h3(style="color:white; font-weight: 400;") No hay empresas registradas aún

      .table-pagination-section(v-if="displayedData.length>0")
        ul.table-pagination
          li
            a.table-pagination__page.table-pagination__page--firt(v-if="page != 1 && page >= 4" @click="page = 1") {{pages[0]}}
          li
            a(v-if="page != 1" @click="page--")
              span(aria-hidden='true') &laquo;
          li(:class="page == pageNumber? 'active':'' " v-for="pageNumber in pages.slice(page==1?page-1: page==2?page-2:page-3, page==1?page+3:page+2)" @click="page = pageNumber" :key="pageNumber")
            a() {{pageNumber}}
          li
            a(v-if="page < pages.length" @click="page++")
              span(aria-hidden='true') &raquo;
          li
            a.table-pagination__page.table-pagination__page--last(v-if="page != pages.length && page <= pages.length - 3" @click="page = pages.length") {{pages.length}}

block scripts
  script(defer src="/views/users-module/admin/users-list/users-list.vue.js")