extends ../../layouts/platform/main

block head
  link(rel="stylesheet", href='/views/doctor/create-medical-follow-up/create-medical-follow-up.css')
  link(rel="stylesheet", href='/views/doctor/create-medical-follow-up/loader.css')
  script(src="https://unpkg.com/vue@next")

block content
  section(id="followUp" data-sheet=sheet)
    .body-profile
      .title-component
        .title-component__title Registro de seguimiento
        .title-component__line
            .row.body-component
      .row.body-component
        .body-profile__details.col-md-10
          .row.my-2.px-3
            span(style="font-size: 20px; font-weight: 500") Datos del paciente
          .row.justify-content-center.mb-3
            .col-md-4
              .row.p-3
                label.mb-2.custom-label(for='registerDate') Fecha de reporte de síntomas:
                input#registerDate.mb-2.form-control(type='text', placeholder='', name="registerDate", v-model="sheetData.formatDate", readOnly)
            .col-md-4
              .row.p-3
                label.mb-2.custom-label(for='registerHours') Hora de reporte de síntomas:
                input#registerHours.mb-2.form-control(type='text', placeholder='', name="registerHours", v-model="sheetData.formatHours", readOnly)
            .col-md-4
              .row.p-3
                label.mb-2.custom-label(for='company') Empresa:
                input#company.mb-2.form-control(type='text', placeholder='', name="company", v-model="sheetData.company", readOnly)
            .col-md-4
              .row.p-3
                label.mb-2.custom-label(for='fullname') Nombres y Apellidos:
                input#fullname.mb-2.form-control(type='text', placeholder='', name="fullname", v-model="sheetData.fullName", readOnly)
            .col-md-4
              .row.p-3
                label.mb-2.custom-label(for='dni') DNI:
                input#dni.mb-2.form-control(type='text', placeholder='', name="dni", v-model="sheetData.dni", readOnly)
            .col-md-4
              .row.p-3
                label.mb-2.custom-label(for='numberPhone') Número de teléfono:
                input#numberPhone.mb-2.form-control(type='text', placeholder='', name="numberPhone", v-model="sheetData.numberPhone", readOnly)
          .row.justify-content-center.mb-3
            .col-md-4
              .row.p-3
                label.mb-2.custom-label(for='preDiagnosisR') Diagnóstico presuntivo:
                input#preDiagnosisR.mb-2.form-control(type='text', placeholder='', name="preDiagnosisR", v-model="sheetData.preDiagnosis", readOnly)
            .col-md-4
              .row.p-3
                label.mb-2.custom-label(for='treatmentR') Tratamiento:
                input#treatmentR.mb-2.form-control(type='text', placeholder='', name="treatmentR", v-model="sheetData.treatment", readOnly)
            .col-md-4
              .row.p-3
                label.mb-2.custom-label(for='quarantinePeriodR') Periodo restante de cuarentena:
                input#quarantinePeriodR.mb-2.form-control(type='text', placeholder='', name="quarantinePeriodR", v-model="sheetData.quarantinePeriod", readOnly)
      //- FORM
      .row.body-component(style="margin-top: 36px")
        .col-md-10.my-3.px-3
          span(style="font-size: 20px; font-weight: 500") Registro
        form.col-md-10(method="POST" onsubmit="return checkSubmit();")
          .row.justify-content-center.mb-3
            .col-md-6
              .row.p-3
                label.mb-2.custom-label(for='registerDate2') Fecha:
                input#registerDate2.mb-2.form-control(type='date', placeholder='', name="registerDate", v-model="today", required)
            .col-md-6
              .row.p-3
                label.mb-2.custom-label(for='registerHours2') Hora:
                input#registerHours2.mb-2.form-control(type='time', placeholder='', name="registerHours", v-model="hoursToday", required)
          .row.justify-content-center.mb-3
            .col-md-4
              .row.p-3
                label.mb-2.custom-label(for='minutes') Duración de llamada (min):
                input#minutes.mb-2.form-control(type='text', placeholder='' name="minutes" oninput="this.value=this.value.replace(/[^0-9]/g,'');"  maxLength="3" required)
            .col-md-8
              .row.p-3
                label.mb-2.custom-label(for='contactCovid') ¿Contacto con un caso confirmado de COVID-19?
                select#contactCovid.custom-select(name='contactCovid' required)
                      option(value='') -- Elegir --
                      option(value='0') No
                      option(value='1') Si
              .row.p-3
                label.mb-2.custom-label(for='relationshipCovid') Relacion con la persona
                input#relationshipCovid.mb-2.form-control(type='text', placeholder='' name="relationshipCovid" required)
          .row.justify-content-center.mb-3
            .col-md-12
              .row.p-3
                label.mb-2.custom-label(for='healthHistory') Antecedentes personales de salud:
                textarea#healthHistory.mb-2.form-control.form-control__text-area(type='text', placeholder='', rows='5', maxlength="300", name="healthHistory" required)
          .row.justify-content-center.mb-3
            .col-md-4
              .row.p-3
                label.mb-2.custom-label(for='area') Área:
                input#area.mb-2.form-control(type='text', placeholder='' name="area" required)
            .col-md-4
              .row.p-3
                label.mb-2.custom-label(for='position') Puesto:
                input#position.mb-2.form-control(type='text', placeholder='' name="position" required readOnly v-model="sheetData.position")
            .col-md-4
              .row.p-3
                label.mb-2.custom-label(for='contacts') Contactos directos:
                input#contacts.mb-2.form-control(type='text', placeholder='' name="contacts" required)
            .col-md-12
              .row.p-3
                label.mb-2.custom-label(for='symptoms') Relato de síntomas:
                textarea#symptoms.mb-2.form-control.form-control__text-area(type='text', placeholder='', rows='5', maxlength="300", name="symptoms" required)
          .row.justify-content-center.my-3
            .col-md-6
              .row.p-3
                label.mb-2.custom-label(for='preDiagnosis') Diagnóstico presuntivo
                select#preDiagnosis.custom-select(name='preDiagnosis' required)
                  option(value='') -- Elegir --
                  option(value='Contacto Directo') Contacto Directo
                  option(value='Caso Sospechoso') Caso Sospechoso
                  option(value='Caso Confirmado') Caso Confirmado
                  option(value='Prueba descarte COVID-19') Prueba descarte COVID-19
                  option(value='Alta') Alta
                  option(value='Otro') Otro
            .col-md-6
              .row.p-3
                label.mb-2.custom-label(for='dateSymptoms') Fecha de inicio de síntomas:
                input#dateSymptoms.mb-2.form-control(type="date", placeholder='', :max='todayDate()' , name="dateSymptoms" required)
            .col-md-12
              .row.p-3
                label.mb-2.custom-label(for='comments') Comentarios sobre diagnósticos:
                input#comments.mb-2.form-control(type='text', placeholder='' name="comments" required)
          .row.justify-content-center.my-3
            .col-md-6
              .row.p-3
                label.mb-2.custom-label(for='treatment') Tratamiento
                select#treatment.custom-select(name='treatment' required)
                  option(value='') -- Elegir --
                  option(value='Médico/Farmacológico') Médico/Farmacológico
                  option(value='Médico Tratante') Médico Tratante
                  option(value='Otro') Otro
            .col-md-6
              .row.p-3
                label.mb-2.custom-label(for='quarantinePeriod') Periodo de cuarentena:
                input#quarantinePeriod.mb-2.form-control(type='text', placeholder='' name="quarantinePeriod" oninput="this.value=this.value.replace(/[^0-9]/g,'');"  maxLength="3" required)
            .col-md-6
              .row.p-3
                label.mb-2.custom-label(for='dateQuarantine') Fecha de inicio de cuarentena:
                input#dateQuarantine.mb-2.form-control(type="date", placeholder='', name="dateQuarantine", v-model="initQuarantine" ,required)
            .col-md-6
              .row.p-3
                label.mb-2.custom-label(for='treatmentComments') Comentarios sobre tratamiento:
                textarea#treatmentComments.mb-2.form-control.form-control__text-area(type='text', placeholder='', rows='5', maxlength="300", name="treatmentComments" required)
            .col-md-6
              .row.p-3
                label.mb-2.custom-label(for='healthForecasts') Evolución/Pronóstico:
                input#healthForecasts.mb-2.form-control(type='text', placeholder='' name="healthForecasts" required)
            .col-md-6
              .row.p-3
                label.mb-2.custom-label(for='dateNextFollowUp') Próximo seguimiento:
                input#dateNextFollowUp.mb-2.form-control(type="date", placeholder='', v-model="tomorrow", :min='todayDate()', name="dateNextFollowUp" required)
            .col-md-6
              .row.p-3
                label.mb-2.custom-label(for='recommendations') Recomendaciones:
                textarea#recommendations.mb-2.form-control.form-control__text-area(type='text', placeholder='', rows='5', maxlength="300", name="recommendations" required)
          .buttons-component.my-3
            button.custom-button.buttons-component__button(type='submit') Guardar

block append scripts
  script(src='/views/doctor/create-medical-follow-up/create-medical-follow-up.vue.js' defer)