extends ../../layouts/platform/main

block head
  link( rel='stylesheet', href='/views/admin/panel/panel.css' )

block content

  p Vista de R.R.H.H.

block scripts
  //- script(src="https://unpkg.com/vue@next")
  //- script(defer src="/views/admin/panel/panel.vue.js")
